body{
    margin: 0 auto;
    padding: 0;
    margin: 0;
    
    
}

h1 {
    text-align: center;
    
}

/*.container{*/
/*width: 1400px;*/
/*    padding: 100px;*/
/*    box-sizing: border-box;*/
/*}*/


.btn {
    margin-top: 2px;
}

.thumbnail {
/*    background-color: #444;*/
    /* padding: 20px; */
border: none;
}

.thumbnail > img {
    width: 100%;
    /* width: 30rem; */
    height: auto;
}
.container .jumbotron {
    background: bg-danger;
}
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
}

.flexBox {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-around;
}
.navbar {
    margin-bottom: 0;
}